* {
  font-family: 'Gotham-M', sans-serif;
  box-sizing: border-box;
}

#results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10vw;
  overflow: hidden;
}

#results-container .header {
  text-transform: uppercase;
}

#results-container .header-description {
  margin: 0;
  width: 28vw;
  font-family: 'Gotham-Book', sans-serif;
  text-align: center;
}

#results-container .start-over {
  opacity: 0.4;
  margin-top: 1rem;
  font-size: 0.7rem;
}

#results-container .header {
  color: #d1ab86;
}

#results-container .results {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#results-container .result {
  display: flex;
  align-items: center;
  padding: 3rem 0;
  border-bottom: solid 1px #eeeeee;
}

#results-container .result:last-child {
  border-bottom: none;
}

/* details */
#results-container .details {
  display: flex;
  flex: 1;
}

/* .shade-details */

#results-container .shade-details {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#results-container .shade-details .shade-name {
  font-family: 'Gotham-Bold';
}

#results-container .product-name {
  margin: 0;
  width: 70%;
  text-align: center;
  font-family: 'Gotham-Book', sans-serif;
}

/* price and rating */

#results-container .price-and-rating {
  display: flex;
  align-items: flex-end;
  margin: 0.5rem 0;
}

#results-container .price-and-rating .price {
  font-family: 'Gotham-Book', sans-serif;
}

#results-container .price-and-rating .separator {
  padding: 0 0.5rem;
}

#results-container .star {
  font-family: sans-serif;
  font-size: 1rem;
  color: #f92d8c;
}

/* suggested shades */

#results-container .suggested-shades {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#results-container .suggested-shades .label {
  font-family: 'Gotham-Book';
  font-size: 0.7rem;
  margin: 0.5rem;
  opacity: 0.6;
}

#results-container .suggested-shades .shades {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.2rem;
}

#results-container .suggested-shades .shades .shade {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#results-container .suggested-shades .shades .shade .shade-image {
  width: 4rem;
  height: 4rem;
  overflow: hidden;
}

#results-container .suggested-shades .shades .shade .shade-image-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

#results-container .suggested-shades .shades .shade.selected {
  margin: 0 0.5rem;
}

#results-container .suggested-shades .shades .shade.selected .shade-image-wrapper {
  padding: 0.2rem;
}

#results-container .suggested-shades .shades .shade .shade-image-wrapper .img {
  width: 100%;
  height: 100%;
  background-color: #d1ab86;
  border-radius: 100px;
}

#results-container .suggested-shades .shades .shade .shade-image-wrapper {
  border: 2px solid #f92d8c;
}

#results-container .suggested-shades .shades .shade .shade-label {
  margin-top: 0.5rem;
  font-size: 0.7rem;
}

#results-container .suggested-shades .shades .shade:not(.selected) .shade-label {
  font-family: 'Gotham-Book', sans-serif;
}

#results-container .suggested-shades .shades .shade.selected .shade-image {}

#results-container .suggested-shades .shades .shade:not(.selected) .shade-image-wrapper {
  border-color: black;
}

/* phantom */

#results-container .phantom-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 1rem;
  display: flex;
}

#results-container .phantom-container .img-half {
  width: 2rem;
  height: 1rem;
}

#results-container .phantom-container .phantom-wrapper {
  display: flex;
  flex: 1;
  position: relative;
}

#results-container .phantom-container .phantom {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid black;
  height: 10rem;
  width: 100%;
}

/* addtocart */

#results-container .addtocart {
  margin-top: 2rem;
}

#results-container .addtocart button {
  background-color: black;
  color: white;
  border-radius: 0 !important;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  display: flex;
  padding: 0.7rem 1.5rem;
  font-family: 'Gotham-Book', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  outline: none !important;
  cursor: pointer;
}

/* addon */

#results-container .addon-container {
  display: flex;
  align-items: center;
  flex: 1;
}

#results-container .addon-container .label {
  font-family: 'Cupcakes', sans-serif;
  color: #d1ab86;
}

#results-container .addon {
  display: flex;
}

/* images */

#results-container .image.product {
  background-color: black;
  color: white;
  padding: 1rem;
  margin-right: 4vw;
}

#results-container .image.product .img {
  height: 12rem;
  width: 10vw;
}

/* plus sign */

#results-container .plus span {
  font-size: 3rem;
}

#results-container .plus {
  margin: 0rem 5vw;
}
